apiVersion: v1
kind: Service
metadata:
  name: saiql-service
  labels:
    app: saiql
spec:
  type: ClusterIP
  ports:
  - port: 5433
    targetPort: 5433
    protocol: TCP
    name: http
  selector:
    app: saiql
